.navbar-fixed {
  background-color: #0F2F7F;
  display: inline-flex;
  width: 100%;
}

li a:hover {
  background-color: #A7A8AA;
  border-radius: 0px 50px 50px 0px;
  width: 90%;
}

#icons {
  color: white;
  font-size: 3rem;
}

main {
  display: flex;
  justify-content: center;
}

.contenido {
  margin-top: 5%;
  width: 90%;
  padding-left: 5%;
}

#name {
  font-size: 1rem
}

.card {
  width: 20%;
  display: inline-block;
  margin-left: 3%;
}

.center1 {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  width: 30%;
  height: 100%;
  margin-top: 0%;
  margin-right: 5%;
}

.left1 {
  float: left;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0%;
  width: 30%;
  margin-right: 5%;
  height: 100%;
}

.right1 {
  float: right;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  width: 30%;
  margin-top: 0%;
  height: 100%;
}

#navbar-right {
  padding-left: 89%;
  color: white;
}

#navbar-center {
  padding-left: 30%;
  padding-right: 30%;
  color: white;
}

#navbar-left {
  margin-top: 0%;
  padding-top: 0%;
  color: white;
}

.section {
  margin-top: 1%;
}

.tittle {
  width: 100%;
  background-color: #1D50AA;
  height: 30%;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 15px 15px 0px 0px;
}

.tittle-login {
  width: 100%;
  background-color: #1D50AA;
  height: 30%;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 15px 15px 0px 0px;
}


#row {
  margin-top: 1%;
  border-right: 1px solid #D5DBDB;
  border-bottom: 1px solid #D5DBDB;
  border-left: 1px solid #D5DBDB;
  margin-top: 0%;
  box-shadow: 6px 6px 6px #D5DBDB;
}

@media only screen and (min-width : 332px) and (max-width: 992px) {
  .contenido {
    width: 100%;
    display: block;
    margin-left: 1%;
    margin-right: 1%;
  }

  .card {
    width: 70%;
  }

  #navbar-right {
    padding-left: 73%;
    color: white;
  }

}
