body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

#inicio {
  background-color: #D6EAF8;
  border-radius: 0px 50px 50px 0px;
  width: 90%;
}

.estado {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: red;
  border-radius: 15px 15px 15px 15px;
  margin-top: 5%;
}

header {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

.navbar {
  background-color: #02265E;
  width: 100%;
  height: 60px;
  position: absolute;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  display: inline-flex;
  align-items: center;
}

.contenido {
  margin-top: 1%;
  width: 30%;
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
  background-color: white;
  border-radius: 7px 7px 7px 7px;
  border-color: #02265E;
}

@media only screen and (min-width: 579px) and (max-width :999px) {
  .contenido {
    width: 360px;
  }

  main {
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 150px) and (max-width :578px) {
  body {
    display: block;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .navbar {
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
  }

  header {
    margin-left: 0%;
  }

  main {
    width: 100%;
    display: flex;
    justify-content: center;
  }


    .contenido {
      width: 80%;
      margin-top: 25%;
    }
}

form {
  display: inline;
}

.img {
  width: 100%;
  margin-bottom: 5%;
}

img {
  width: 40%;
  height: 150px
}

.input-field {
  width: 100%;
  margin-bottom: 5%;
}

input {
  width: 80%;
  background-color: #F2F2F2;
  border-radius: 5px 5px 5px 5px;
  border: 0;
  height: 40px;
}

.titulo {
  color: #02265E;
  margin-bottom: 3%;
  font-size: 20PX;
  font-weight: bold;
}

.center {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  width: 30%;
  height: 100%;
  margin-top: 0%;
  margin-right: 5%;
  margin-top: 1.5%;
}

.left {
  margin-top: 1.5%;
  float: left;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0%;
  width: 5%;
  margin-right: 5%;
  height: 100%;
}

button {
  background-color: #02265E;
  border: 0;
  width: 80%;
  height: 40px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 4%;
}

button:hover{
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #7D7D77;
}

.inner-addon {
  position: relative;
  margin-bottom: 3%;
}

.inner-addon .material-icons {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.right-addon .material-icons {
  right: 22px;
}

.right-addon input {
  padding-right: 20px;
}

.material-icons {
  color: #02265E;
}
