
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

#logo{
    font-size: 25px;
}
#font{
    font-size: 15px;
}
li #texto-icono{
    color: #0E47A1;
}

img{
    width: 10%;
    height: 10%;
}

#btn{
    background-color: #0E47A1;
}

#select-input{
    font-size: 15px;
}

option, select{
    color:#0E47A1;
}